.wrapper {
  background-color: #20262e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.w-full {
  margin-left: auto;
  margin-right: auto;
}

:host ::ng-deep {
  .p-inline-message-success {
    margin-left: 4em;
  }
}
