input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper {
  margin-bottom: 2rem;
}

form {
  margin-left: 5rem;
  margin-right: 5rem;
}
