:host ::ng-deep {
  .p-fieldset {
    margin-bottom: 3em;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
  margin-left: 3rem;
  margin-right: 3rem;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.w-full {
  margin-left: auto;
  margin-right: auto;
}
