input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper {
  background-color: #20262e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.w-full {
  margin-left: auto;
  margin-right: auto;
}
