<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img
      src="../../../assets/images/logos/hyperledger.svg"
      height="40"
      class="mr-3"
    />

    <span class="logoName">RadioShack 2.0</span>
  </ng-template>

  <ng-template pTemplate="end">
    <div *ngIf="!isLogin">
      <button
        pButton
        pRipple
        type="button"
        (click)="login()"
        label="Login"
        class="p-button-success p-button-text"
      >
        <i class="pi pi-user mx-2"></i>
      </button>
    </div>

    <div *ngIf="isLogin">
      <div class="my-1">Welcome {{ username }}</div>
      <button
        pButton
        pRipple
        type="button"
        (click)="logout()"
        label="Logout"
        class="p-button-danger p-button-text"
      >
        <i class="pi pi-sign-out mx-2"></i>
      </button>
    </div>
  </ng-template>
</p-menubar>

<div class="container flex">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  class="logoutDialog"
></p-confirmDialog>
