<p-menubar>
  <ng-template pTemplate="start">
    <img
      src="../../../assets/images/logos/hyperledger.svg"
      height="40"
      class="mr-2"
    />
    <span class="my-auto">EletronX</span>
  </ng-template>
  <ng-template pTemplate="end">
    <button
      pButton
      pRipple
      type="button"
      label="LOGOUT"
      class="p-button-raised p-button-danger p-button-sm"
      (click)="logout()"
    >
      <i class="pi pi-user mx-2"></i>
    </button>
  </ng-template>
</p-menubar>

<div class="wrapper flex">
  <div class="sidebar">
    <p-menu #menu [model]="items"></p-menu>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
