::ng-deep {
  .p-menubar {
    border-radius: initial;
    align-items: center;
    background: var(--surface-card);
  }
  .p-menubar-start {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-right: 3rem;
  }
  .container {
    .content {
      width: 90%;
      margin: auto;
      margin-top: 2rem;
    }
  }

  .container.flex {
    background: #343e4d;
  }
}

@media screen and (max-width: 768px) {
  ::ng-deep {
    .p-dataview-layout-options.p-selectbutton.p-buttonset {
      margin-top: 1.2em;
    }
  }

  // .sidebar {
  //   width: 20%;
  //   margin-left: 1rem;
  //   margin-right: 1rem;
  // }

  // .content {
  //   width: 60%;
  //   // margin-left: 1rem;
  //   margin-right: 1rem;
  // }
}
