::ng-deep {
  .pi-exclamation-circle:before {
    content: "\e989";
    color: indianred;
  }

  .logoutDialog {
    .p-confirm-dialog-reject,
    .p-confirm-dialog-reject:hover,
    .p-confirm-dialog-reject:active {
      background: none;
      border: none;
      color: #f19ea6;
    }

    .p-confirm-dialog-accept,
    .p-confirm-dialog-accept:hover,
    .p-confirm-dialog-accept:active {
      background: #9fdaa8;
      border: 1px solid #78cc86;
    }
  }

  .p-menubar {
    border-radius: initial;
    align-items: center;
    background: var(--surface-card);
  }
  .p-menubar-start {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-right: 3rem;
  }
  .container {
    .content {
      width: 90%;
      margin: auto;
      margin-top: 2rem;
    }
  }

  .container.flex {
    background: #343e4d;
  }
}

@media screen and (max-width: 768px) {
  ::ng-deep {
    .p-dataview-layout-options.p-selectbutton.p-buttonset {
      margin-top: 1.2em;
    }
  }

  // .sidebar {
  //   width: 20%;
  //   margin-left: 1rem;
  //   margin-right: 1rem;
  // }

  // .content {
  //   width: 60%;
  //   // margin-left: 1rem;
  //   margin-right: 1rem;
  // }
}
