<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedProducts()"
        [disabled]="!selectedProducts || !selectedProducts.length"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="products"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['product_name']"
    responsiveLayout="scroll"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="product_id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Products</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="product_name">
          Name <p-sortIcon field="product_name"></p-sortIcon>
        </th>
        <th>Image</th>
        <th pSortableColumn="unit_price">
          Price <p-sortIcon field="unit_price"></p-sortIcon>
        </th>
        <th pSortableColumn="quality">
          Quality <p-sortIcon field="quality"></p-sortIcon>
        </th>
        <th pSortableColumn="category">
          Category <p-sortIcon field="category"></p-sortIcon>
        </th>
        <th pSortableColumn="product_status">
          Status <p-sortIcon field="product_status"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-productObject>
      <tr>
        <td>
          <p-tableCheckbox [value]="productObject"></p-tableCheckbox>
        </td>
        <td>{{ productObject.product_name }}</td>
        <td>
          <img
            src="{{ productObject.product_image }}"
            [alt]="productObject.product_name"
            width="100"
            class="shadow-4"
          />
        </td>
        <td>{{ productObject.unit_price | currency: "USD" }}</td>
        <td>{{ productObject.quality }}</td>
        <td>{{ productObject.category }}</td>
        <td>
          <p-badge
            [value]="productObject.product_status.toUpperCase()"
            [severity]="severityColor(productObject.product_status)"
            styleClass="mr-2"
          ></p-badge>
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editProduct(productObject)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteProduct(productObject)"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ products ? products.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>

<!-- add new product -->
<form [formGroup]="formRef" (ngSubmit)="submit()">
  <p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="field">
        <label for="name">Name</label>
        <input
          type="text"
          pInputText
          id="name"
          formControlName="productName"
          required
        />
        <small
          *ngIf="productName?.errors?.['required']&& productName?.dirty "
          class="p-error"
          >Name is required</small
        >
      </div>

      <div class="field">
        <label for="imageURL">Image URL</label>
        <input
          type="text"
          pInputText
          id="imageURL"
          formControlName="productImage"
          required
        />
        <small
          *ngIf="productImage?.errors?.['required'] && productImage?.dirty "
          class="p-error"
          >Image is required</small
        >
      </div>

      <div class="field">
        <label for="description">Description</label>
        <textarea
          id="description"
          pInputTextarea
          formControlName="description"
          required
          rows="3"
          cols="20"
        ></textarea>
        <small
          *ngIf="description?.errors?.['required'] && description?.dirty"
          class="p-error"
          >Description is required</small
        >
      </div>

      <div class="field">
        <label class="mb-3">Category</label>
        <small *ngIf="category?.errors?.['required']" class="p-error">
          * required</small
        >

        <div class="formgrid grid">
          <div class="field-radiobutton col-6">
            <p-radioButton
              id="category1"
              name="category"
              value="Accessories"
              formControlName="category"
            ></p-radioButton>
            <label for="category1">Accessories</label>
          </div>
          <div class="field-radiobutton col-6">
            <p-radioButton
              id="category2"
              name="category"
              value="Clothing"
              formControlName="category"
            ></p-radioButton>
            <label for="category2">Clothing</label>
          </div>
          <div class="field-radiobutton col-6">
            <p-radioButton
              id="category3"
              name="category"
              value="Electronics"
              formControlName="category"
            ></p-radioButton>
            <label for="category3">Electronics</label>
          </div>
          <div class="field-radiobutton col-6">
            <p-radioButton
              id="category4"
              name="category"
              value="Fitness"
              formControlName="category"
            ></p-radioButton>
            <label for="category4">Fitness</label>
          </div>
        </div>
      </div>

      <div class="field">
        <label for="inventoryStatus">Inventory Status</label>
        <p-dropdown
          formControlName="status"
          inputId="inventoryStatus"
          [options]="statuses"
          [showClear]="true"
          placeholder="Select"
        >
          <ng-template let-option pTemplate="item">
            <p-badge
              [value]="option.label"
              [severity]="severityColor(option.value)"
              styleClass="mr-2"
            ></p-badge>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="formgrid grid">
        <div class="field col">
          <label for="price">Price</label>
          <p-inputNumber
            id="price"
            formControlName="unitPrice"
            mode="currency"
            currency="USD"
            locale="en-US"
          ></p-inputNumber>
          <small
            *ngIf="unitPrice?.errors?.['required'] && unitPrice?.dirty"
            class="p-error"
            >Price is required</small
          >
        </div>
        <div class="field col">
          <label for="quantity">Quantity</label>
          <p-inputNumber
            id="quantity"
            formControlName="quality"
          ></p-inputNumber>
          <small
            *ngIf="quality?.errors?.['required'] && quality?.dirty"
            class="p-error"
            >Quantity is required</small
          >
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        type="button"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        type="submit"
        [disabled]="!formRef.valid"
      ></button>
    </ng-template>
  </p-dialog>
</form>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
