:host ::ng-deep {
  .pi-exclamation-triangle:before {
    content: "\e922";
    color: #cfcf4e;
  }
  .p-confirm-dialog-reject,
  .p-confirm-dialog-reject:hover,
  .p-confirm-dialog-reject:active {
    background: none;
    border: none;
    color: #f19ea6;
  }

  .p-confirm-dialog-accept,
  .p-confirm-dialog-accept:hover,
  .p-confirm-dialog-accept:active {
    background: #9fdaa8;
    border: 1px solid #78cc86;
  }

  .p-paginator {
    .p-paginator-current {
      margin-left: auto;
    }
  }

  p-table {
    h5 {
      font-size: 1.25rem;
    }
  }

  .p-button-rounded {
    margin-bottom: 1rem;
  }

  .card {
    background-color: var(--surface-card);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 12px;
    box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014 !important;
  }

  .p-progressbar {
    height: 0.5rem;
    background-color: #d8dadc;

    .p-progressbar-value {
      background-color: #607d8b;
    }
  }

  .table-header {
    display: flex;
    justify-content: space-between;
  }

  .p-calendar .p-datepicker {
    min-width: 25rem;

    td {
      font-weight: 400;
    }
  }

  .p-datatable.p-datatable-customers {
    .p-datatable-header {
      padding: 1rem;
      text-align: left;
      font-size: 1.5rem;
    }

    .p-paginator {
      padding: 1rem;
    }

    .p-datatable-thead > tr > th {
      text-align: left;
    }

    .p-datatable-tbody > tr > td {
      cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
      text-transform: uppercase;
    }
  }

  /* Responsive */
  .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-customers {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr {
          border-bottom: 1px solid var(--layer-2);

          > td {
            text-align: left;
            display: block;
            border: 0 none !important;
            width: 100% !important;
            float: left;
            clear: left;
            border: 0 none;

            .p-column-title {
              padding: 0.4rem;
              min-width: 30%;
              display: inline-block;
              margin: -0.4rem 1rem -0.4rem -0.4rem;
              font-weight: bold;
            }

            .p-progressbar {
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}
