<div class="container">
  <div
    class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap"
  >
    <div class="font-bold mr-8">🔥 Hot News!</div>
    <div class="align-items-center hidden lg:flex">
      <span class="line-height-3">A new generation EletronX is launched!</span>
    </div>
    <a class="flex align-items-center ml-2 mr-8">
      <a class="text-white"
        ><span class="underline font-bold">Learn More</span></a
      >
    </a>
    <a
      pRipple
      class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150"
      style="width: 2rem; height: 2rem"
    >
      <i class="pi pi-flag-fill"></i>
    </a>
  </div>

  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
      <div class="text-blue-600 font-bold mb-3">
        <i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD
      </div>
      <div class="text-900 font-bold text-5xl mb-3">
        Join Our Market Community
      </div>
      <div class="text-700 text-2xl mb-5">
        Upload your product to the national market and sell it to make money in
        just a minute!
      </div>
      <button
        pButton
        pRipple
        label="Join Now"
        icon="pi pi-discord"
        class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"
      ></button>
    </div>
  </div>
</div>
