<div class="wrapper">
  <form [formGroup]="formRef" (ngSubmit)="submit()">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
      <div class="text-center mb-5">
        <img
          src="../../../assets/images/logos/hyperledger.svg"
          alt="hyperledger_logo"
          height="50"
          class="mb-3"
        />
        <div class="text-900 text-3xl font-medium mb-3">
          Welcome to RadioShack 2.0
        </div>
        <span class="text-600 font-medium line-height-3"
          >Don't have an account?</span
        >
        <a
          routerLink="/newUser"
          class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
          >Create today!</a
        >
      </div>

      <div *ngIf="isError" class="mx-8">
        <p-message severity="error" text="{{ msg }}"></p-message><br /><br />
      </div>

      <div class="login_content">
        <div class="grid">
          <div class="col-12">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input
                id="usernameInput"
                type="text"
                pInputText
                placeholder="Username"
                formControlName="username"
              />
            </div>
          </div>

          <div class="col-12">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
              <input
                id="passwordInput"
                type="password"
                pInputText
                placeholder="Password"
                formControlName="password"
              />
            </div>
          </div>
        </div>
        <br />

        <div class="flex align-items-center justify-content-between mb-6">
          <div class="flex align-items-center">
            <p-checkbox
              id="rememberme1"
              [binary]="true"
              styleClass="mr-2"
              formControlName="rememberMe"
            ></p-checkbox>
            <label for="rememberme1" class="text-900">Remember me</label>
          </div>

          <a
            routerLink="/resetPassword"
            class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
            >Forgot password?</a
          >
        </div>

        <button
          pButton
          pRipple
          label="Sign In"
          icon="pi pi-user"
          class="w-full"
          type="submit"
          [disabled]="!formRef.valid"
        ></button>
      </div>
    </div>
  </form>
</div>
